{% extends 'base.html' %} {% block body %}
<style>
    /* The switch - the box around the slider */
    
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    /* Hide default HTML checkbox */
    
    .switch input {
        opacity: 0;
        width: 1%;
        height: 1%;
    }
    /* The slider */
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked+.slider {
        background-color: #2196F3;
    }
    
    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    /* Rounded sliders */
    
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-8">
                    <a href="{% url 'provider' %}">
                        <h1 class="m-0 text-dark">Service with Charges</h1>
                    </a>
                </div>
                <!-- /.col -->


                <div class="btn-toolbar mx-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-3" role="group" aria-label="First group">


                        <div class="card mx-auto">
                            <div class="card-body text-center">
                                <table class="table table-striped" style="width: 60rem;">
                                    <thead class="text-white" style="background-color: #007bff;">
                                        <tr>
                                            <th>Category</th>
                                            <th>Sub Category</th>
                                            <th>Service Name</th>
                                            <th>Charges</th>
                                            <th>Base hour</th>
                                            <th>Additional hourly Charges</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Electrical</td>
                                            <td>Electrical</td>
                                            <td>Electrical</td>
                                            <td>202/-</td>
                                            <td>2</td>
                                            <td>2</td>
                                        </tr>
                                        <tr>
                                            <td>Electrical</td>
                                            <td>Electrical</td>
                                            <td>Electrical</td>
                                            <td>202/-</td>
                                            <td>2</td>
                                            <td>2</td>
                                        </tr>
                                        <tr>
                                            <td>Sanitory</td>
                                            <td>Sanitory</td>
                                            <td>Sanitory</td>
                                            <td>201/-</td>
                                            <td>6</td>
                                            <td>6</td>
                                        </tr>
                                        <tr>
                                            <td>Mobile</td>
                                            <td>Mobile</td>
                                            <td>Mobile</td>
                                            <td>206/-</td>
                                            <td>4</td>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <td>food</td>
                                            <td>food</td>
                                            <td>food</td>
                                            <td>205/-</td>
                                            <td>3</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <td>Cosmetics</td>
                                            <td>Cosmetics</td>
                                            <td>Cosmetics</td>
                                            <td>202/-</td>
                                            <td>5</td>
                                            <td>5</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-primary mt-3 " style="width: 10rem;">Add Field</button>
                            </div>


                        </div>




                        {% endblock body %}