{% extends 'base.html' %} {% block body %}
<style>
    /* The switch - the box around the slider */
    
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    /* Hide default HTML checkbox */
    
    .switch input {
        opacity: 0;
        width: 1%;
        height: 1%;
    }
    /* The slider */
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked+.slider {
        background-color: #2196F3;
    }
    
    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    /* Rounded sliders */
    
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-8">
                    <a href="{% url 'service' %}">
                        <h1 class="m-0 text-dark">Location</h1>
                    </a>
                </div>
                <!-- /.col -->


                <div class="btn-toolbar mx-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-3" role="group" aria-label="First group">


                        <div class="card mx-auto">
                            <div class="card-body text-center">
                                <table class="table table-striped" style="width: 60rem;">
                                    <thead class="text-white" style="background-color: #007bff;">
                                        <tr>
                                            <th>Area</th>
                                            <th>City</th>
                                            <th>State</th>
                                            <th>Map</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Saket</td>
                                            <td>New Delhi</td>
                                            <td>Delhi</td>
                                            <td><a href="{% url 'map_view' %}">View</a></td>
                                            <td><label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                              </label></i>
                                            </td>
                                            <td><i class="fas fa-pen" style="cursor: pointer;"> <i class="fas fa-trash-alt"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Saket</td>
                                            <td>New Delhi</td>
                                            <td>Delhi</td>
                                            <td><a href="{% url 'map_view' %}">View</a></td>
                                            <td><label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                              </label></i>
                                            </td>
                                            <td><i class="fas fa-pen" style="cursor: pointer;"> <i class="fas fa-trash-alt"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Saket</td>
                                            <td>New Delhi</td>
                                            <td>Delhi</td>
                                            <td><a href="{% url 'map_view' %}">View</a></td>
                                            <td><label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                              </label></i>
                                            </td>
                                            <td><i class="fas fa-pen" style="cursor: pointer;"> <i class="fas fa-trash-alt"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Saket</td>
                                            <td>New Delhi</td>
                                            <td>Delhi</td>
                                            <td><a href="{% url 'map_view' %}">View</a></td>
                                            <td><label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                              </label></i>
                                            </td>
                                            <td><i class="fas fa-pen" style="cursor: pointer;"> <i class="fas fa-trash-alt"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Saket</td>
                                            <td>New Delhi</td>
                                            <td>Delhi</td>
                                            <td><a href="{% url 'map_view' %}">View</a></td>
                                            <td><label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                              </label></i>
                                            </td>
                                            <td><i class="fas fa-pen" style="cursor: pointer;"> <i class="fas fa-trash-alt"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Saket</td>
                                            <td>New Delhi</td>
                                            <td>Delhi</td>
                                            <td><a href="{% url 'map_view' %}">View</a></td>
                                            <td><label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                              </label></i>
                                            </td>
                                            <td><i class="fas fa-pen" style="cursor: pointer;"> <i class="fas fa-trash-alt"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-primary mt-3 " style="width: 10rem;">Add Field</button>
                            </div>


                        </div>




                        {% endblock body %}